<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #expenseForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="expense.username"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter your username"
          required #username="ngModel">
      </div>
      <div [hidden]="!username.pristine" class="alert alert-danger">Username is required</div>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" [(ngModel)]="expense.amount"
          class="form-control"
          id="amount"
          name="amount"
          placeholder="Enter the amount"
          required #amount="ngModel">
      </div>
      <div [hidden]="!amount.pristine" class="alert alert-danger">Amount is required</div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="expense.description"
          class="form-control"
          id="description"
          name="description"
          placeholder="Enter a description">
      </div>

      <button type="submit" [disabled]="!expenseForm.form.valid"
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
