 <div class="container">
    <form (ngSubmit)="onSubmit()" #expenseForm="ngForm">
    <div class="row">
      <div class="col-25">
        <label for="username">Username</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="expense.username"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter the username"
          required #username="ngModel">
       <div [hidden]="!username.pristine" class="alert alert-danger">Username is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="amount">Amount</label>
      </div>
      <div class="col-75">
        <div class="input-icon input-icon-right">
        <input type="number" min="1" step="any" [(ngModel)]="expense.amount"
          class="form-control"
          id="amount"
          name="amount"
          placeholder="Enter the amount in euros"
          required #amount="ngModel"><i>€</i></div>
      <div [hidden]="!amount.pristine" class="alert alert-danger">Amount is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="name">Description</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="expense.description"
          class="form-control"
          id="description"
          name="description"
          placeholder="Enter the description"
          #lastname="ngModel">
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Submit"[disabled]="!expenseForm.form.valid">
    </div>
    </form>
  </div>
