<h1>user list!</h1>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Lastname</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ person.username }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.lastname }}</td>
          <td>{{ person.balance }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
