 <div class="container">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="row">
      <div class="col-25">
        <label for="username">Username</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="user.username"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter your username"
          required #username="ngModel">
       <div [hidden]="!username.pristine" class="alert alert-danger">Username is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="user.name"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter your name"
          #name="ngModel">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="name">Lastname</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="user.lastname"
          class="form-control"
          id="lastname"
          name="lastname"
          placeholder="Enter your lastname"
          #lastname="ngModel">
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Submit"[disabled]="!userForm.form.valid">
    </div>
    </form>
  </div>


  <!-- <div class="container">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="row">
      <div class="col-25">
        <label for="username">Username</label>
      </div>
      <div class="col-75">
        <input type="text"
          id="username"
          name="username"
          placeholder="Your name.."
          [(ngModel)]="user.username"
          required #username="ngModel">
      </div>
    </div>
    </form>
  </div> -->


  <!-- <div class="container">
    <form action="action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="fname">FirstName</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
    </form>
  </div> -->

