<div class="container"
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutAlign.xs="center">
  <div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px">
    <a routerLink="/adduser">
      <div class="button" >
        Add User
      </div>
    </a>
    <a routerLink="/users">
      <div class="button">
        See Group Balance
      </div>
    </a>
    <a routerLink="/addexpense">
      <div class="button">
        Add Expense
      </div>
    </a>
    <a routerLink="/listexpenses">
      <div class="button">
        List Expense
      </div>
    </a>
  </div>

  <div class="container"
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutAlign.xs="center">
    <router-outlet></router-outlet>
  </div>
</div>
