<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="user.username"
          class="form-control"
          id="username"
          name="username"
          placeholder="Enter your username"
          required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Username is required</div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name"
          class="form-control"
          id="name"
          name="name"
          placeholder="Enter your name"
          required #name="ngModel">
      </div>

      <div class="form-group">
        <label for="name">Lastname</label>
        <input type="text" [(ngModel)]="user.lastname"
          class="form-control"
          id="lastname"
          name="lastname"
          placeholder="Enter your lastname"
          required #name="ngModel">
      </div>

      <button type="submit" [disabled]="!userForm.form.valid"
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
